{% load static %}
<div class="clearfix">
</div>
<footer id="footer" class="">

  <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

  <div class="footer_section shadow-top">
    <div class="section_offset" style="border-bottom:1px solid rgb(7, 37, 71);">
      <div class="container" style="padding-top: 30px; padding-bottom:30px;">

        <div class="row">
          <div class="col-lg-12">
            <h4 style="margin-top: 12px;"><i class="fa fa-map"></i> We are Available in </h4>
          </div>
          <div class="col-lg-12">
            <p style="color:white;">Agra, Allahabad, Ahmedabad, Bhopal, Chennai, Delhi - NCR, Durgapur, Faridabad, Ghaziabad, Gurugram, Gwalior, Howrah, Hyderabad, Indore, Jabalpur, Jaipur, Kanpur, Kharagpur, Kolkata, Lucknow, Mumbai, Noida, Pune, Rajkot, Surat, Thane, Vadodara
              , Varanasi & Major cities of Karnataka</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section_offset" style="border-bottom:1px solid rgb(7, 37, 71); margin-bottom: 25px;">
      <div class="container" style="padding-top: 24px; padding-bottom: 24px;">

        <!-- - - - - - - - - - - - - - Infoblocks - - - - - - - - - - - - - - - - -->

        <ul class="clearfix infoblocks_wrap section_offset five_items">

          <li>
            <a href="#" class="infoblock type_1">

								<i class="icon-thumbs-up-1"></i>
								<span class="caption"><b>The Highest Product Quality</b></span>

							</a>
            <!--/ .infoblock-->
          </li>

          <li>
            <a href="#" class="infoblock type_1">

								<img src="{% static 'dawakhana/images/heart.png' %}" /> &nbsp;<span class="caption"><b>Loyalty Program</b></span>

							</a>
            <!--/ .infoblock-->
          </li>

          <li>
            <a href="#" class="infoblock type_1">

								<i class="icon-lock"></i>
								<span class="caption"><b>Safe &amp; Secure Payment</b></span>

							</a>
            <!--/ .infoblock-->
          </li>

          <li>
            <a href="#" class="infoblock type_1">

								<i class="icon-diamond"></i>
								<span class="caption"><b>Get 10% OFF For Reorder</b></span>

							</a>
            <!--/ .infoblock-->
          </li>



        </ul>
        <!--/ .infoblocks_wrap.section_offset.clearfix-->

        <!-- - - - - - - - - - - - - - End of infoblocks - - - - - - - - - - - - - - - - -->
      </div>
    </div>

    <div class="container">

      <div class="row">



        <div class="col-md-3 col-sm-3">

          <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

          <section class="widget">

            <h4 class="hidden">Information</h4>

            <ul class="list_of_links">

              <li><a href="about.php">About Us</a></li>
              <li><a href="faq.php">FAQs</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>


            </ul>

          </section>

          <!-- - - - - - - - - - - - - - End information widget - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ [col]-->
        <div class="col-md-3 col-sm-3">

          <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

          <section class="widget">

            <h4 class="hidden">Information</h4>

            <ul class="list_of_links">

              <li><a href="#">Newsroom</a></li>
              <li><a href="contact.php">Contact Us</a></li>
              <li> <a class="small_link" href="#">Help</a></li>
              <li> <a class="small_link" href="#">Track your order</a></li>

            </ul>

          </section>

          <!-- - - - - - - - - - - - - - End information widget - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ [col]-->
        <div class="col-md-3 col-sm-3">
          <section class="streamlined" style="margin-top:50px;">

            <h4 class="streamlined_title right_side hidden">Follow Us</h4>

            <!-- - - - - - - - - - - - - - Social icon's list - - - - - - - - - - - - - - - - -->

            <ul class="social_btns">

              <li>
                <a href="#" class="icon_btn middle_btn social_facebook tooltip_container"><i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a>
              </li>

              <li>
                <a href="#" class="icon_btn middle_btn social_twitter tooltip_container"><i class="icon-twitter"></i><span class="tooltip top">Twitter</span></a>
              </li>
              <li>
                <a href="#" class="icon_btn middle_btn social_youtube tooltip_container"><i class="icon-youtube"></i><span class="tooltip top">Youtube</span></a>
              </li>
              <li>
                <a href="#" class="icon_btn middle_btn social_linkedin tooltip_container"><i class="icon-linkedin-5"></i><span class="tooltip top">LinkedIn</span></a>
              </li>

            </ul>

            <!-- - - - - - - - - - - - - - End social icon's list - - - - - - - - - - - - - - - - -->

          </section>
        </div>
        <div class="col-md-3 col-sm-3">

          <!-- - - - - - - - - - - - - - Account's links widget - - - - - - - - - - - - - - - - -->

          <section class="streamlined_type_2" style="display: table;width: 100%;">

            <h4 class="streamlined_title">Sign up to our newsletter</h4>

            <form class="newsletter " novalidate>

              <input type="email" name="sc_email" placeholder="Enter your email address">

              <button class="button_blue def_icon_btn"></button>

            </form>

          </section>
          <!--/ .streamlined-->
          <!--/ .widget-->

          <!-- - - - - - - - - - - - - - End of account's links widget - - - - - - - - - - - - - - - - -->

        </div>
        <!--/ [col]-->

      </div>
      <!--/ .row-->

    </div>
    <!--/ .container-->

  </div>
  <!--/ .footer_section-->

  <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

  <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

  <div class="footer_section_3 ">

    <div class="container">

      <!-- - - - - - - - - - - - - - Payments - - - - - - - - - - - - - - - - -->

      <ul class="payments hidden">

        <li><img src="{% static 'dawakhana/images/payment_1.png' %}" alt=""></li>
        <li><img src="{% static 'dawakhana/images/payment_2.png' %}" alt=""></li>
        <li><img src="{% static 'dawakhana/images/payment_3.png' %}" alt=""></li>
        <li><img src="{% static 'dawakhana/images/payment_4.png' %}" alt=""></li>
        <li><img src="{% static 'dawakhana/images/payment_5.png' %}" alt=""></li>
        <li><img src="{% static 'dawakhana/images/payment_6.png' %}" alt=""></li>
        <li><img src="{% static 'dawakhana/images/payment_7.png' %}" alt=""></li>
        <li><img src="{% static 'dawakhana/images/payment_8.png' %}" alt=""></li>

      </ul>

      <!-- - - - - - - - - - - - - - End of payments - - - - - - - - - - - - - - - - -->

      <!-- - - - - - - - - - - - - - Footer navigation - - - - - - - - - - - - - - - - -->

      <nav class="footer_nav hidden">

        <ul class="bottombar">

          <li><a href="#">Medicine &amp; Health</a></li>
          <li><a href="#">Beauty</a></li>
          <li><a href="#">Personal Care</a></li>
          <li><a href="#">Vitamins &amp; Supplements</a></li>
          <li><a href="#">Baby Needs</a></li>
          <li><a href="#">Diet &amp; Fitness</a></li>
          <li><a href="#">Sexual Well-being</a></li>

        </ul>

      </nav>

      <!-- - - - - - - - - - - - - - End of footer navigation - - - - - - - - - - - - - - - - -->

      <div class="row">
        <div class="col-md-6">
          <p style="color:#fff;">&copy; 2017 The Dawakhana. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 align_right">
          <p style="color:#fff;">Design By <a href="http://thewebtycoons.com/index.php" target="_blank"><img src="thewebtycoons.png" style="margin-top: -3px;"/></a></p>
        </div>
      </div>
    </div>
    <!--/ .container-->
  </div>
  <!--/ .footer_section-->
  <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->
</footer>
<!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->