@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&family=Oswald:wght@400;500;700&display=swap');

* {
    font-family: 'Oswald';
    text-decoration: none;
}

#header {
    background-color: #00c2bf;
}

.main-nav {

    background-color: #00c2bf;
}


.main-nav a {
    color: #ffff00;
    font-size: 20px;
}



.mid-banner {
    color: white;
    font-size: 20px;
}