h1 {
  position: absolute;
  margin-top: 30vh;
  width: 100%;
  text-align: center;
  font-size: 333%;
  font-family: sans-serif;
  color: black;
  opacity: 0.5;
}
h2 {
  position: absolute;
  margin-top: 42vh;
  width: 100%;
  text-align: center;
  font-size: 333%;
  font-family: sans-serif;
  color: black;
  opacity: 0.5;
}
canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 480px) {
  h2 {
    position: absolute;
    margin-top: 52vh;
    width: 100%;
    text-align: center;
    font-size: 333%;
    font-family: sans-serif;
    color: black;
    opacity: 0.5;
  }
}
