body,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  border: 2px solid black;
}

.banner-heading {
  text-align: center;
  margin: 20px auto;
  border-bottom: 2px solid black;
}

#upper-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.upload-section {
  margin: 20px 0px 20px 10px;
}

.upload-section h3 {
  margin: 10px 0px;
  padding: 5px;
}

.upload-section input[type="file"] {
  border: 1px solid black;
  margin: 5px auto;
  display: block;
}

.btn-section {
  align-self: center;
  flex-basis: 30%;
}

/* submit button */
.btn-section button:first-child {
  padding: 2px 5px;
  width: 25%;
}

/* cancel button */
.btn-section button:nth-child(2) {
  padding: 2px 5px;
  width: 25%;
  margin-left: 10px;
}

#table-section h3 {
  margin: 20px 0px 10px 20px;
  margin-top: 20px;
}

#data-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

#data-table thead {
  border: 1px solid black;
  border-collapse: separate;
}

#data-table tbody {
  border: 1px solid black;
  border-collapse: collapse;
}

#data-table td,
th {
  border-left: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

#data-table .sno {
  text-align: center;
}

#data-table .img-container {
  width: 15%;
}

@media screen and (max-width: 780px) {
  #upper-section {
    flex-direction: column;
  }

  .upload-section h3 {
    text-align: center;
  }

  .btn-section button:first-child {
    width: 45%;
  }

  /* cancel button */
  .btn-section button:nth-child(2) {
    width: 45%;
  }
}
